:root {
    --primary: black;
    --secondary: var(--light);
    --blue: #1363be;
    --light-blue: #c7e0e5;
    --red: #d52e2e;
    --light: #EEEEEE;
    --green: #11a811;
    --purple: #5c11cc;
    --transparent: rgba(0, 0, 0, 0%);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

main {
    min-height: calc(100vh - 10vw);
    height: max-content;
    padding-top: 10vw;
    background-color: #EEEEEE;
    width: 80%;
}

section {
    margin: 10px;
    padding: 10px;
}
.hide {
    display: none;
}
.text-center {
    text-align: center;
}
h1 {
    font-size: xxx-large;
}
.libeled {
    margin: 10px auto;
    font-size: x-large;
    width: 100%;
}
.action-button {
    position: absolute;
    right: 25px;
}
.element-title {
    max-width: calc(100% - 2*130px);
    display: inline-block;
    text-align: justify;
}

.d-flex {
    display: flex;
}

.border {
    border: 2px solid;
    border-radius: 10px;
}

#input-add, button {
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    border: solid ;
}
#input-add {
    height: 32px;
    margin-left: 5px;
    margin-right: 5px;
}
.center {
    justify-content: center;
    justify-items: center;
}
button {
    --primary: var(--blue);
    color: var(--primary);
    background-color: var(--transparent);
    border-color: var(--primary);
    border: solid;
}
button:hover {
    color: var(--secondary);
    background-color: var(--primary);
    border-color: var(--primary);
}


.trash {
    --primary: var(--red);
}

.edit {
     --primary: var(--green);
}

.svg {
    height: 32px;
    width: 32px;
    display: flex;
}

.element, #filter, #empty {
    border-color: var(--light-blue);
    background-color: var(--light-blue);
    margin: 15px;
}
.element {
    padding: 10px;
    display: flex;
    align-items: center;
}
#filter, #empty {
    padding: 20px;
}
.check {
    border-color: var(--blue);
}

#list {
    display: grid;
    position: relative;
}

.hide-element {
    display: none;
}


@keyframes delete {
    100% {
        scale: 0.01;
        transform: rotateY(1turn);
    }
}

@media screen and (max-width: 1200px) {
    main {
        min-width: 100%;
    }
}